.information{
    position: relative;
    left:100px;
    top:100px;
    width:568px;
    height: 980px;
    background-color: #252525;
  }

.profileImage{
    position: absolute;
    top:-100px;
  }

  .profileImage img{
    position:absolute;
    height:1152px;
    width:568px;
    clip-path: polygon(50% 10%,95% 35%,50% 60%, 5% 35%);
    z-index:2;
  }

  .profileImage img:hover{
    transform: scale(1.05);
  }

  .text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 27px;
    color: #EAF4F4;
    opacity: 0;
    transition: all 0.3s ease;
    text-align: center;
  }

  .infoSquare{
    position:absolute;
    top:550px;
    height:350px;
    width:100%;
  }

  .infoSquare h1{
    position: relative;
    margin-top: 10%;
    color: #6B9080;
    padding-left: 30px;
    font-size: 70px;
    font-family:serif;
    letter-spacing: 1px;
   }
   
   .infoSquare p{
       position: absolute;
       font-size: 25px;
       left:35px;
       margin-top: -2%;
       color:#6B9080;
   }

  @media screen and (max-width: 400px) {
   
  }