.backgroundWords
{
    position: inherit;
    font-family: serif;
    color:#6B9080;
    opacity: 40%;
    font-size: 100px;
    z-index:1;
}

.backgroundWords #bigAbout{
    position:absolute;
    left:25%;
    top:-160px;
}

.backgroundWords #bigProjects{
    position:absolute;
    left:25%;
}

.BGDivider
{   
    position: absolute;
    left: 0;
    top: 750px;
    height: 900px;
    width: 100%;
    overflow: hidden;
    background-color: #A4C3B2;
}

@media screen and (max-width: 450px) {
    .backgroundWords #bigProjects{
        top:800px;
    }

    .BGDivider{
        top:1150px;
        height: 1350px;
        min-width: 100%;
    }
}


