.backgroundWords
{
    position: inherit;
    font-family: serif;
    color:#6B9080;
    opacity: 60%;
    font-size: 100px;
}

.backgroundWords #bigAbout{
    font: 80px;
    font-weight: 700;
    position:absolute;
    top:-160px;
    margin-left: 20%;
    z-index:4;
}

.backgroundWords #bigProjects{
    font: 80px;
    font-weight: 700;
    position:absolute;
    top:525px;
    margin-left: 20%;
    z-index:4;
}

@media screen and (max-width: 400px) {
   
    .backgroundWords #bigAbout{
        top:-25px;
        left: -50px;
        font-size: 100px;
        font-weight: 700;
  
    }

    .backgroundWords #bigProjects{
        font-size: 90px;
        font-weight: 700;
        top:800px;
        left: -50px;
    }

}

@media screen and (max-width: 360px) {
    .backgroundWords #bigAbout{

        font-size: 90px;
        font-weight: 700;
        top:0px;
  
    }

    .backgroundWords #bigProjects{
        top:760px;
        font-size: 80px;
        font-weight: 700;
  
    }
}

@media screen and (max-width: 1890px) {
    .backgroundWords #bigProjects{
        top:460px;
  
    }
}


