button{
    background: #588157;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    width: 300px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
    margin:10px;
}

#contactButton{
    display: inline-block;
    transform: skew(21deg);
}
button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: #415D43;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }
  
  button:hover {
    color: #A4C3B2;
  }
  
  button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }

  .infoButtons{
    position: absolute;
    top:70%;
    left:43%;
    width:1000px;
  }
