.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top:60px;
    width: 100px;
    z-index: 1;
    background-color: #252525;
    padding:12px 12px;
  }

  .dropdown-content .dropDownText:hover{
    background-color: #424242;
    width: 100px;

  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  
@media screen and (min-device-width: 350px) and (max-width: 400px) {
    .dropdown {
        left:0px;
      }
  }
