button{
    background-color: transparent;
    font-size: 25px;
    color: aliceblue;
    border: none;
    font-family:serif;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    left:50px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top:60px;
    min-width: 100px;
    padding: 12px 12px;
    z-index: 1;
    background-color: #252525;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  
@media screen and (min-device-width: 350px) and (max-width: 400px) {
    .dropdown {
        left:0px;
      }
  }
