.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s; 
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sideNavButton{
    position: fixed;
    right:10px;
  }

  .information{
    position: fixed;
    top:5%;
    left:5%;
    width:90%;
    height: 90%;
    outline-style: dashed;

  }

  .square
  {
    position:fixed;
    left:10%;
    top:10%;
    height:30%;
    width:30%;
    outline-style: dashed;
    transition: 0.5s;
  }

  .square img{
    position:relative;
    width:100%;
    height:100%;

  }

  .square :hover
  {
    transform: scale(1.1);
    transition: 0.5s;
    
  }

  .square:hover img{
    filter: blur(17px);
  }

  .square:hover .text {
    opacity: 1;
  }

  .text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 27px;
    color: rgb(131, 230, 175);
    opacity: 0;
    transition: all 0.3s ease;
    z-index:2;
    text-align: center;
  }


  .infoSquare{
    position:fixed;
    top:10%;
    left:45%;
    height:80%;
    width:45%;
    outline-style: dashed;
    text-align: center;
  }