html{
    position: relative;
    background-color: #252525;
    min-width: 100%;
    min-height: 100%;
  }
  
p{
    color: #1C1C1C;
    font-size: 18px;
    font-family:serif;
    letter-spacing: 1px;
}

img{
  transition: 0.5s ease;
}

a{
  text-decoration: none;
  color: #EAF4F4;
}

.footer{
  background-color:#6B9080;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.footer .row{
  width:100%;
  margin:4% 2%;
  padding:0.6% 0%;
  color:#F6FFF8;
  font-size:1.8em;
  }
.spacer{
    height: 400px;
}

@media screen and (max-width: 400px) {
  html{
    overflow-x: hidden;
  }

  .footer .row{
    font-size:1.2em;
    }
}
