html{
    position: relative;
    background-color: #e0e0e0;
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
  }
  
body{
  margin: 0 0 100px;
  /* bottom = footer height */
  padding: 25px;
}
p{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family:serif;
    letter-spacing: 1px;
}

img{
  transition: 0.5s ease;
}

.footer{
  background-color: rgb(70, 70, 70);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.footer .row{
  width:100%;
  margin:4% 2%;
  padding:0.6% 0%;

  color:gray;
  font-size:1.8em;
  }
.spacer{
    height: 400px;
}

@media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
}