#navbar {
  background-color: transparent;
  position: fixed;
  z-index: 5;
  top: 0px;
  width: 100%;
  display: block;
  transition: 0.3s;
  height:70px;
}

.navBarLayout{
  position: relative;
  display: inline-block;
}

.navbarText{
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  margin:25px;
  font:20px "FF MARK W05",Arial,sans-serif;
  letter-spacing: 1px;
  height:30px;
}

.navbarText:hover{
  color: crimson;
}

.dropDownText{
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font:15px "FF MARK W05",Arial,sans-serif;
  letter-spacing: 1px;
  margin-top: 5px;
}
.dropDownText:hover{
  color:crimson;
}

@media screen and (min-device-width: 340px) and (max-width: 560px) {
  .navbarText{
    margin:25px 15px 25px 15px;
    font:13px "FF MARK W05",Arial,sans-serif;
    text-align: center;
  }
}
