
.projectsBG{
    position: relative;
    width:1540px;
    height: 100%;
    margin-top: 18%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    
}

.projectsBG img{
    border-radius: 30px;
    width: 600px;
    height: 340px;
    outline-style: groove;
}

.OpenOcean
{
    margin:25px;
}

.EndOfYear2
{
    margin:25px;
}

.GGJ22
{
    margin:25px; 
}

.OpenOceanImage {
    position: relative;
}

.EndOfYear2Image {
    position: relative;
}

.GGJ22Image{
    position: relative;
}
.square{
    border-radius: 30px;
    width: 600px;
    height: 340px;
    transition: 0.5s ease;
    background: rgb(2,0,36);
    background: linear-gradient(110deg, rgba(2,0,36,1) 0%, rgba(9,83,121,1) 35%, rgba(52,164,186,1) 100%);
    clip-path: polygon(0% 0%,45% 0%,35% 85%, 50% 100%, 0% 100%);
}

.OpenOceanImage{
    transition: 0.5s ease;
}

.OpenOceanImage:hover .square{
    transform: scale(1.05);
    transition: 0.5s;
}

.OpenOceanImage:hover img{
    transform: scale(1.05);
    transition: 0.5s;
}

.OpenOceanImage #OpenOceanSquare{
    position: absolute;
    top:0;
    left:0;
}

.EndOfYear2Image{
    transition: 0.5s ease;
}

.EndOfYear2:hover .square{
    transform: scale(1.05);
    transition: 0.5s;
}

.EndOfYear2:hover img{
    transform: scale(1.05);
    transition: 0.5s;
}

.EndOfYear2 #EndOfYear2Square{
    position: absolute;
    top:0;
    left:0;
}

.GGJ22Image{
    transition: 0.5s ease;
}

.GGJ22Image:hover .square{
    transform: scale(1.05);
    transition: 0.5s;
}

.GGJ22Image:hover img{
    transform: scale(1.05);
    transition: 0.5s;
}

.GGJ22Image #GGJ22Square{
    position: absolute;
    top:0;
    left:0;
}
