
.projectsBG{
    position: absolute;
    width:1100px;
    height: 800px;
    top:58px;
    left:40%;
    background-color: #709775;
}

.projectsBG h1{
    position: absolute;
    color: #F6FFF8;
    top:-30px;
    left:50px;
    font-size: 70px;
    font-family:serif;
    letter-spacing: 1px;
}

.projectsFlex{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 100px;
    left:5%;
    width:1000px;
    background-color:  #8FB996;
    
}

.projectsBG img{
    border-radius: 20px;
    width:450px;
    height:250px;
}


.OpenOceanImage {
    position: relative;
    margin:25px;
}

.EndOfYear2Image {
    position: relative;
    margin:25px;
}

.GGJ22Image{
    position: relative;
    margin:25px;
}
.square{
    border-radius: 20px;
    width:450px;
    height:250px;
    transition: 0.5s ease;
    background: rgb(17,29,19);
background: linear-gradient(90deg, rgba(17,29,19,1) 0%, rgba(112,151,117,1) 46%, rgba(203,231,205,1) 82%);
    clip-path: polygon(0% 0%,25% 0%,35% 85%, 50% 100%, 0% 100%);
}

.OpenOceanImage{
    transition: 0.5s ease;
}

.OpenOceanImage:hover .text {
    opacity: 1;
  }

.OpenOceanImage:hover .square{
    transform: scale(1.05);
    transition: 0.5s;
}

.OpenOceanImage:hover img{
    transform: scale(1.05);
    transition: 0.5s;
}

.OpenOceanImage #OpenOceanSquare{
    position: absolute;
    top:0px;
    left:0px;
}

.EndOfYear2Image{
    transition: 0.5s ease;
}

.EndOfYear2:hover .square{
    transform: scale(1.05);
    transition: 0.5s;
}

.EndOfYear2:hover img{
    transform: scale(1.05);
    transition: 0.5s;
}

.EndOfYear2:hover .text {
    opacity: 1;
  }

.EndOfYear2 #EndOfYear2Square{
    position: absolute;
    top:0;
    left:0;
    
}

.GGJ22Image{
    transition: 0.5s ease;
}

.GGJ22Image:hover .square{
    transform: scale(1.05);
    transition: 0.5s;
}

.GGJ22Image:hover img{
    transform: scale(1.05);
    transition: 0.5s;
}

.GGJ22Image #GGJ22Square{
    position: absolute;
    top:0;
    left:0;
}

.GGJ22Image:hover .text {
    opacity: 1;
  }
