
.projectsBG{
    position: relative;
    width:100%;
    height: 520px;
    top:300px;
    background-color: #252525;
}

.projectsFlex{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 100px;
    left:10%;
    background-color:  #1C1C1C;
}

.projectsBG img{
    border-radius: 20px;
    width:450px;
    height:265px;
}

.OpenOcean
{
    position: relative;
    top:20%;
    margin:25px;
}

.EndOfYear2
{
    position: relative;
    top:20%;
    margin:25px;
}

.GGJ22
{
    position: relative;
    top:20%;
    margin:25px; 
}

.OpenOceanImage {
    position: relative;
}

.EndOfYear2Image {
    position: relative;
}

.GGJ22Image{
    position: relative;
}
.square{
    border-radius: 20px;
    width:450px;
    height:265px;
    transition: 0.5s ease;
    background: rgb(2,0,36);
    background: linear-gradient(110deg, rgba(2,0,36,1) 0%, rgba(9,83,121,1) 35%, rgba(52,164,186,1) 100%);
    clip-path: polygon(0% 0%,25% 0%,35% 85%, 50% 100%, 0% 100%);
}

.OpenOceanImage{
    transition: 0.5s ease;
}

.OpenOceanImage:hover .text {
    opacity: 1;
  }

.OpenOceanImage:hover .square{
    transform: scale(1.05);
    transition: 0.5s;
}

.OpenOceanImage:hover img{
    transform: scale(1.05);
    transition: 0.5s;
}

.OpenOceanImage #OpenOceanSquare{
    position: absolute;
    top:0;
    left:0;
}

.EndOfYear2Image{
    transition: 0.5s ease;
}

.EndOfYear2:hover .square{
    transform: scale(1.05);
    transition: 0.5s;
}

.EndOfYear2:hover img{
    transform: scale(1.05);
    transition: 0.5s;
}

.EndOfYear2:hover .text {
    opacity: 1;
  }

.EndOfYear2 #EndOfYear2Square{
    position: absolute;
    top:0;
    left:0;
    background: rgb(20,13,7);
    background: linear-gradient(90deg, rgba(20,13,7,1) 7%, rgba(78,52,21,1) 32%, rgba(200,156,50,1) 64%);
}

.GGJ22Image{
    transition: 0.5s ease;
}

.GGJ22Image:hover .square{
    transform: scale(1.05);
    transition: 0.5s;
}

.GGJ22Image:hover img{
    transform: scale(1.05);
    transition: 0.5s;
}

.GGJ22Image #GGJ22Square{
    position: absolute;
    top:0;
    left:0;
    background: rgb(88,44,11);
    background: linear-gradient(90deg, rgba(88,44,11,1) 3%, rgba(88,44,11,1) 16%, rgba(88,119,28,1) 49%);
}

.GGJ22Image:hover .text {
    opacity: 1;
  }
