@media screen and (min-device-width: 360px) and (max-width: 400px) {
.information{
  width:100%;
  height:700px;
  margin-left:0;
}

    .profileImage{
      height:265px;
      width:390px;
      left:0;
      top:50px;
      overflow-x: hidden;
    }

    .infoSquare{
        height:350px;
        width:100%;
        left:0%;
        top:350px;

      }
    
      .infoSquare h1{
        margin-top: 0%;
        font-size: 32px;
       }
       
       .infoSquare h2{
           font-size: 18px;
           position: absolute;
           top: 50px;
           transform:rotate(0deg);
           left:25px;
       }
       
       .infoSquare p{
           position: absolute;
            top:100px;
            left:5%;
            width:90%;
           color:#6B9080;
       }

       button{
        width: 90px;
        font-size: 8px;
       }
       .infoButtons{
        left:35px;
      }

      .sideNavButton{
        transform: scale(1.5);
        width:30px;
        right:25px;
      }

      .projectsBG{
        top:180px;
        height:750px;
        width:auto;
      }
       .projectsFlex{
        width:350px;
        left:15px;
        top:50px;
       }

       .projectsBG img{
        width:300px;
        height:170px;
    }

    .square{
        width:300px;
        height:170px;
    }

}

@media screen and (min-device-width: 350px) and (max-width: 360px) {
  .information{
    width:100%;
    height:710px;
    margin-left:0;
  }
  
      .profileImage{
        height:235px;
        width:360px;
        left:0;
        top:50px;
        overflow-x: hidden;
      }
  
      .infoSquare{
          height:350px;
          width:100%;
          left:0%;
          top:350px;
  
        }
      
        .infoSquare h1{
          margin-top: 0%;
          font-size: 32px;
         }
         
         .infoSquare h2{
             font-size: 18px;
             position: absolute;
             top: 50px;
             transform:rotate(0deg);
             left:25px;
         }
         
         .infoSquare p{
             position: absolute;
              top:100px;
              left:5%;
              width:90%;
             color:#6B9080;
         }
  
         button{
          width: 105px;
         }
         .infoButtons{
          left:25px;
        }
  
        .sideNavButton{
          transform: scale(1.5);
          width:30px;
          right:25px;
        }
  
        .projectsBG{
          top:180px;
          height:750px;
          width:auto;
        }
         .projectsFlex{
          width:350px;
          left:0;
          top:50px;
         }
  
         .projectsBG img{
          width:300px;
          height:170px;
      }
      .square{
          width:300px;
          height:170px;
      }
button{
  font-size: 8px;
  width:90px;
}  
}

@media screen and (min-device-width: 1600px) and (max-width: 1890px) {
   
  .projectsBG{
    position: absolute;
    width:800px;
    height: 700px;
    top:105px;
    left:45%;
    background-color: #252525;
}

.projectsFlex{
    width:700px;
}

.projectsBG img{
    width:300px;
    height:200px;
}

.square{
  width:300px;
  height:200px;
}

button{
  font-size: 20px;
  width: 200px;
}
.infoButtons{
  position: absolute;
  top:70%;
  left:48%;
  width:800px;
}
}


@media screen and (min-device-width: 1280px) and (max-width: 1300px) {
  .information{
    width:418px;
    height: 830px;
  }
  .profileImage img{
    height:1002px;
    width:418px;
  }

  .infoSquare h1{
    margin-top: 0;
    padding-left: 15px;
    font-size: 30px;
   }
   
   .infoSquare p{
       font-size: 20px;
       left:15px;

   }

  .projectsBG{
    position: absolute;
    width:660px;
    height: 500px;
    top:108px;
    left:45%;
}

.projectsFlex{
  top:50px;
  width:590px;
}

.projectsBG img{
    width:245px;
    height:150px;
}

.square{
  width:245px;
  height:150px;
}

button{
  font-size: 20px;
  width: 160px;
}
.infoButtons{
  position: absolute;
  top:60%;
  left:48%;
  width:580px;
}

}



@media screen and (min-device-width: 1300px) and (max-width: 1600px) {
  .information{
    width:468px;
    height: 880px;
  }
  .profileImage img{
    height:1052px;
    width:468px;
  }

  .infoSquare h1{
    font-size: 50px;
   }
   
   .infoSquare p{
       font-size: 25px;
       left:15px;

   }

  .projectsBG{
    position: absolute;
    width:700px;
    height: 600px;
    top:100px;
    left:45%;
}

.projectsFlex{
    width:600px;
}

.projectsBG img{
    width:250px;
    height:150px;
}

.square{
  width:250px;
  height:150px;
}

button{
  font-size: 20px;
  width: 180px;
}
.infoButtons{
  position: absolute;
  top:70%;
  left:48%;
  width:700px;
}
}
