@media screen and (min-device-width: 360px) and (max-width: 400px) {
.information{
  width:100%;
  height:700px;
  margin-left:0;
}

    .profileImage{
      height:265px;
      width:390px;
      left:0;
      top:50px;
      overflow-x: hidden;
    }

    .infoSquare{
        height:350px;
        width:100%;
        left:0%;
        top:350px;

      }
    
      .infoSquare h1{
        margin-top: 0%;
        font-size: 32px;
       }
       
       .infoSquare h2{
           font-size: 18px;
           position: absolute;
           top: 50px;
           transform:rotate(0deg);
           left:25px;
       }
       
       .infoSquare p{
           position: absolute;
            top:100px;
            left:5%;
            width:90%;
           color:#6B9080;
       }

       button{
        width: 90px;
        font-size: 8px;
       }
       #mv{
        top: 200px;
        margin-left:8%;
      }
    
      #lv{
        top: 200px;
        margin-left:130px;
      }
      #gv{
        top: 200px;
        margin-left:230px;
      }

      .sideNavButton{
        transform: scale(1.5);
        width:30px;
        right:25px;
      }

       .projectsBG{
        margin-top: 210px;
        margin-left: 0;
        width:100%;
        height:100%;
       }

       .projectsBG img{
        width:300px;
        height:170px;
    }
    .OpenOcean
    {
        position: relative;
        margin:40px;
    }
    
    .EndOfYear2
    {
        position: relative;
        top:0%;
        margin-left:40px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .GGJ22
    {
        position: relative;
        top:0%;
        margin:40px; 
    }
    .square{
        width:300px;
        height:170px;
    }

}

@media screen and (min-device-width: 350px) and (max-width: 360px) {
  .information{
    width:100%;
    height:700px;
    margin-left:0;
  }
  
      .profileImage{
        height:235px;
        width:360px;
        left:0;
        top:50px;
        overflow-x: hidden;
      }
  
      .infoSquare{
          height:350px;
          width:100%;
          left:0%;
          top:350px;
  
        }
      
        .infoSquare h1{
          margin-top: 0%;
          font-size: 32px;
         }
         
         .infoSquare h2{
             font-size: 18px;
             position: absolute;
             top: 50px;
             transform:rotate(0deg);
             left:25px;
         }
         
         .infoSquare p{
             position: absolute;
              top:100px;
              left:5%;
              width:90%;
             color:#6B9080;
         }
  
         button{
          width: 105px;
         }
         #mv{
          top: 200px;
          margin-left:5%;
        }
      
        #lv{
          top: 200px;
          margin-left:125px;
        }
        #gv{
          top: 200px;
          margin-left:230px;
        }
  
        .sideNavButton{
          transform: scale(1.5);
          width:30px;
          right:25px;
        }
  
         .projectsBG{
          margin-top: 210px;
          margin-left: 0;
          width:10px;
          height:100%;
         }
  
         .projectsBG img{
          width:300px;
          height:170px;
      }
      .OpenOcean
      {
          position: relative;
          margin-left:20px;
      }
      
      .EndOfYear2
      {
          position: relative;
          top:0%;
          margin-left:20px;
      }
      
      .GGJ22
      {
          position: relative;
          top:0%;
          margin-left:20px;
      }
      .square{
          width:300px;
          height:170px;
      }
button{
  font-size: 8px;
  width:90px;
}  
}

@media screen and (min-device-width: 1600px) and (max-width: 1890px) {
   
  .infoSquare p{
     left:75px;
     width:100%;
}


  .projectsBG{
    margin-top: 300px;
    margin-left: 7%;
    width:1365px;
    height:100%;
   }

   .projectsBG img{
    width:375px;
    height:245px;
}
.OpenOcean
{
    position: relative;
    margin:40px;
    top:0%;
}

.EndOfYear2
{
    position: relative;
    top:0%;
    margin:40px;
}

.GGJ22
{
    position: relative;
    top:0%;
    margin:40px; 
}
.square{
    width:375px;
    height:245px;
}
#mv{
  margin-left:75px;
}

#lv{
  margin-left:210px;
}
#gv{
  margin-left:345px;
}
}


@media screen and (min-device-width: 1280px) and (max-width: 1600px) {

  .profileImage{
    left:0;
  }
  
  .infoSquare h1{
   left:50px;
   }
   
   .infoSquare h2{
       left:25px;
   }
   
   .infoSquare p{
        left:90px;
        top:110px;
        width:100%;

   }
   #mv{
    margin-left:100px;
  }
  
  #lv{
    margin-left:235px;
  }
  #gv{
    margin-left:370px;
  }
  .projectsBG{
    margin-top:350px;
    height:100%;
   }

   .projectsBG img{
    width:375px;
    height:245px;
}

.square{
  width:375px;
  height:245px;
}

   .OpenOcean
{
    margin-left:100px;
    margin-top:50px;
    top:0%;
}

.EndOfYear2
{
    top:0%;
    margin-top:50px;
}

.GGJ22
{
    top:0%;
    margin-left:100px;
    margin-top:50px;
}
}

