@media screen and (min-device-width: 340px) and (max-width: 560px) {

.information{
    height:800px;
  }
.profileImage{
    left:0%;
    top:75px;
    height:350px;
    width:100%;
  }
.infoSquare{
    top:400px;
    height:350px;
    width:100%;
    left:0;
  }
.profileImage img{
    top:-100px;
  }
.infoSquare h1{
  font-size: 40px;
  letter-spacing: 1px;
}
   
.infoSquare p{
  font-size: 25px;
  left:35px;
}

.projectsBG img{
  width:300px;
  height:150px;
}
.square{
  width:300px;
  height:150px;
}
.projectsBG{
  height:1000px;
}

}
@media screen and (min-device-width: 360px) and (max-width: 380px) {
  
  .OpenOcean{
    left:25px;
  }
  
  .EndOfYear2 {
    left:25px;
    top:350px;
  }
}
@media screen and (min-device-width: 380px) and (max-width: 420px) {
  
  .OpenOcean{
    left:50px;
  }
  
  .EndOfYear2 {
    left:50px;
    top:350px;
  }
}

@media screen and (min-device-width: 1600px) and (max-width: 1850px) {
  .projectsBG img{
    width:725px;
    height:350px;
}
.square{
  width:725px;
  height:350px;
}
 
}


@media screen and (min-device-width: 1280px) and (max-width: 1300px) {
  .profileImage{
    left:5%;
  }
  .projectsBG img{
    width:500px;
    height:300px;
}
.square{
  width:500px;
  height:300px;
}

}



@media screen and (min-device-width: 1300px) and (max-width: 1600px) {
  .projectsBG img{
    width:625px;
    height:350px;
}
.square{
  width:625px;
  height:350px;
}
}
