h1{
    font-family: "Roboto";
    text-transform: none;
    letter-spacing: 0;
    font-size: 80px;
    line-height: 90px;
    font-weight: 700;
    color: aliceblue;
}

.backgroundImage{
    width:100%;
    height:100%;
    position: absolute;
    z-index:1;
    filter: blur(8px);
}

.header{
    position: relative;
    height:600px;
    width:100%;
}

.header h1{
    position: relative;
    margin:0px;
    top:250px;
    text-align: center;
    z-index:2;
}

.bg-row-overview{
    position: relative;
    height:500px;
    width:100%;
    background-color: #0a0704;
}

.bg-row-overview h3{
    position: absolute;
    text-align: center;
    margin:0px;
    top:100px;
    left:25%;
    font-family: "Roboto";
    font-size: 40px;
    width:50%;
    font-weight: 100;
    color: aliceblue;
}

.bg-row-info{
    position: relative;
    background-color: #130d07;
    height:600px;
    width:100%;
    
}

.bg-row-header h2{
    font-family: "Roboto";
    position: relative;
    margin:0px;
    top:75px;
    font-size: 52px;
    line-height: 52px;
    text-align: center;
    color: aliceblue;
}

.row-section{
    position: relative;
    display: flex;
    top:100px;
    justify-content: center;
    left:5%;
    width:90%;
    height:400px;
}

.info-block{
    margin:0px 25px 0px 25px;
    height:400px;
    width:500px;
}

.info-block .text{
    font-family: "Roboto";
    text-align:left;
    font-size: 24px;
    color: aliceblue;
    transition: 1s;
}

.info-block h5{
    font-family: "Roboto";
    font-size: 30px;
    color: aliceblue;
}

.bg-row-gallery{
    position: relative;
    background-color: #0a0704;
    height:1200px;
    width:100%;
}

.bg-row-gallery #gallery{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    top:150px;
    left:100px;
    width:900px;
    height:750px;
    background-color: #130d07;
}

.bg-row-gallery .gallery-image{
    position: relative;
    margin: 25px;
    width:400px;
    height:250px;
    overflow: hidden;
    cursor: pointer;
}

.gallery-image img:hover{
    transform: scale(1.1);
}


