h1{
    font-family: "Roboto";
    text-transform: none;
    letter-spacing: 0;
    font-size: 80px;
    line-height: 90px;
    font-weight: 700;
    color: aliceblue;
}

.backgroundImage{
    width:100%;
    height:100%;
    position: absolute;
    z-index:1;
    filter: blur(8px);
}

.header{
    position: relative;
    height:600px;
    width:100%;
}

.header h1{
    position: relative;
    margin:0px;
    top:250px;
    text-align: center;
    z-index:2;
}

.bg-row-overview{
    position: relative;
    height:500px;
    width:100%;
    background-color: #0a0704;
}

.bg-row-overview h3{
    position: absolute;
    text-align: center;
    margin:0px;
    top:100px;
    left:25%;
    font-family: "Roboto";
    font-size: 40px;
    width:50%;
    font-weight: 100;
    color: aliceblue;
}

.bg-row-info{
    position: relative;
    background-color: #130d07;
    height:600px;
    width:100%;
    
}

.bg-row-header h2{
    font-family: "Roboto";
    position: relative;
    margin:0px;
    top:75px;
    font-size: 52px;
    line-height: 52px;
    text-align: center;
    color: aliceblue;
}

.row-section{
    position: relative;
    display: flex;
    top:100px;
    justify-content: center;
    left:5%;
    width:90%;
    height:400px;
}

.info-block{
    margin:0px 25px 0px 25px;
    height:400px;
    width:500px;
}

.info-block .text{
    font-family: "Roboto";
    text-align:left;
    font-size: 24px;
    color: aliceblue;
    transition: 1s;
}

.info-block h5{
    font-family: "Roboto";
    font-size: 30px;
    color: aliceblue;
}

.bg-row-gallery{
    position: relative;
    background-color: #0a0704;
    height:1200px;
    width:100%;
}

.bg-row-gallery #gallery{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    top:50px;
    width:900px;
    height:750px;
    left:750px;
}

.viewBox{
    position:absolute;
    left:250px;
    height:450px;
    width:350px;
    top:170px;
    overflow: hidden;
  }
  
  .flexBox{
    height:600px;
    width:350px;
    position:absolute;
    display:flex;
    flex-flow: column;
  }
  
  .content{
    position:absolute;
    height:120px;
    width: 200px;
    margin-bottom:30px;
    cursor: pointer;
  }
  
  .inside{
    position:absolute;
    height:50px;
    top:40px;
    width:0px;
    background-color:aliceblue;
    z-index:1;
  }
  
  .active{

  }

  #bigImage{
    transition:1s;
    outline:solid;
    outline-color: aliceblue;
    margin-bottom:30px;
  }

  .active img{
    outline-style:solid;
    outline-color: aliceblue;
    cursor: pointer;
  }


  @media screen and (min-device-width: 1280px) and (max-width: 1400px) {
    .bg-row-gallery #gallery{
      left:400px;
    }
    .viewBox{
        left:75px;
    }
  }






