.headImage{
    position: relative;
    width:100%;
    height:500px;
}
.backgroundImage{
    width:100%;
    height:100%;
    position: relative;
    filter: blur(8px);

}
.foregroundImage{
    position: absolute;
    width:50%;
    height:90%;
    top:150px;
    left:25%;
    z-index:2;
}
#information{
    position: relative;
    height:1500px;
    width: 100%;
    z-index: 1;
    background-color: #252525;
}
a{
    text-decoration: none;
    color: #EAF4F4;
    height:30px;
  }
  .container{
    position: relative;
    top:150px;
    height:300px;
    width:50%;
    left:25%;
    z-index:3;
    display: inline-block;
  }

  .secondPopUp{
    position: relative;
    top:250px;
    left:45%;
    height:300px;
    width:45%;
    z-index:3;

  }

  .thirdPopUp{
    position: relative;
    top:50px;
    left:15%;
    height:150px;
    width:30%;
    z-index:3;
  }

.bigText{
  font: 120px "FF MARK W05",Arial,sans-serif;
  padding:0px 15px 10px;
  color:aliceblue;
}
#overviewText{
  display: flex; 
  justify-content: center
  
}
#overviewInfo{
  display: flex; 
  justify-content: center;
  text-align: center;
  color:aliceblue;
}

#motionText{
  display: flex; 
  justify-content: center;
  font-size: 80px;
}
#motionInfo{
  display: flex; 
  justify-content: center;
  text-align: center;
  color:aliceblue;
}

.leapImg{
  position: relative;
  width:100%;
}

@media screen and (min-device-width: 1280px) and (max-width: 1400px) {
  .foregroundImage{
height:80%;
}
}

@media screen and (min-device-width: 360px) and (max-width: 420px) {
  
  .foregroundImage{
    left:0;
    width:100%;
    height:50%;
}
.container{
  top:150px;
  height:500px;
  width:100%;
  left:0%;
}
.secondPopUp{
  top:100px;
  left:0%;
  height:500px;
  width:100%;
}
.bigText{
  font: 60px "FF MARK W05",Arial,sans-serif;
}

#motionText{
  display: flex; 
  justify-content: center;
}
.thirdPopUp{
  top:0px;
  left:0%;
  height:150px;
  width:100%;
}

}

