.headImage{
    position: relative;
    width:100%;
    height:500px;
}
.backgroundImage{
    width:100%;
    height:100%;
    position: relative;
    filter: blur(8px);

}
.foregroundImage{
    position: absolute;
    width:50%;
    height:90%;
    top:150px;
    left:25%;
    z-index:2;
}
#information{
    position: relative;
    height:2200px;
    width: 100%;
    z-index: 1;
    background-color: #252525;
}
a{
    text-decoration: none;
    color: #EAF4F4;
    height:30px;
  }
  .container{
    position: relative;
    top:150px;
    height:300px;
    width:50%;
    left:25%;
    z-index:3;
    display: inline-block;
  }

  .secondPopUp{
    position: relative;
    top:250px;
    left:45%;
    height:300px;
    width:45%;
    z-index:3;

  }

  .thirdPopUp{
    position: relative;
    top:50px;
    left:15%;
    height:150px;
    width:30%;
    z-index:3;
  }

  .fourthPopUp{
    position: relative;
    top:150px;
    height:400px;
    width:50%;
    left:25%;
    z-index:3;
    display: inline-block;
  }


  iframe{
    left:25%;
    top:250px;
    position: relative;
    width:950px;
    height:550px;
    z-index:5;
    border-style:inset;
  }

  #devText{
    display: flex; 
    justify-content: center
  }

  #devInfo{
    display: flex; 
    justify-content: center;
    text-align: center;
    color:aliceblue;
  }

.bigText{
  font: 120px "FF MARK W05",Arial,sans-serif;
  padding:0px 15px 10px;
  color:aliceblue;
}
#overviewText{
  display: flex; 
  justify-content: center
  
}
#overviewInfo{
  display: flex; 
  justify-content: center;
  text-align: center;
  color:aliceblue;
}

#motionText{
  display: flex; 
  justify-content: center;
  font-size: 80px;
}
#motionInfo{
  display: flex; 
  justify-content: center;
  text-align: center;
  color:aliceblue;
}

.leapImg{
  position: relative;
  width:100%;
}

@media screen and (min-device-width: 1280px) and (max-width: 1400px) {
  .foregroundImage{
height:80%;
}
.fourthPopUp{
  top:200px;
}

iframe{
  top:350px;
  left:20%;
  width:800px;
  height:500px;
}
}

@media screen and (min-device-width: 1700px) and (max-width: 1800px) {
  iframe{
    width:850px;
  }
}

@media screen and (min-device-width: 1500px) and (max-width: 1700px) {
  iframe{
    left:25%;
    width:800px;
  }
}

@media screen and (min-device-width: 360px) and (max-width: 420px) {
  
  #information{
    height:2400px;
  }
  .foregroundImage{
    left:0;
    width:100%;
    height:50%;
}
.container{
  top:150px;
  height:500px;
  width:100%;
  left:0%;
}
.secondPopUp{
  top:150px;
  left:0%;
  height:500px;
  width:100%;
}
.bigText{
  font: 60px "FF MARK W05",Arial,sans-serif;
}

#motionText{
  display: flex; 
  justify-content: center;
}
.thirdPopUp{
  top:150px;
  left:0%;
  height:150px;
  width:100%;
}
.fourthPopUp{
  top:150px;
  height:400px;
  width:100%;
  left:0;
  z-index:3;
  display: inline-block;
}

iframe{
  width:95%;
  height:215px;
  left:0px;
  top:400px;
}

}

